In [1]:
from pybaseball import batting_stats
import pandas as pd

In [2]:
selected_cols = ['1','2','3','4','5','6','7', '11', '16', '21', '39', '40', '50', '58', '60', '61', 'DEFENSE', 'FIELDING']
train_data = batting_stats(2000, 2009, qual = 100, stat_columns = selected_cols)

In [3]:
train_data.shape

(4383, 20)

In [4]:
selected_cols = ['1','2','3','4','5','6','7', '11', '16', '21', '39', '40', '50', '58', '60', '61', 'DEFENSE', 'FIELDING']
train_data2 = batting_stats(2010, 2019, qual = 100, stat_columns = selected_cols)

In [5]:
train_data2.shape

(4466, 20)

In [6]:
train_data3 = batting_stats(1980, 1989, qual = 100, stat_columns = selected_cols)

In [7]:
train_data3.shape

(3739, 20)

In [8]:
train_data4 = batting_stats(1990, 1999, qual = 100, stat_columns = selected_cols)

In [9]:
train_data4.shape

(4037, 20)

In [10]:
train_data.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,HR,SO,SB,OPS,ISO,wOBA,WAR,Spd,wRC+,Def,Fld
0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,46,47,9,1.381,0.429,0.544,12.7,3.9,244,-2.0,4.3
2,1109,2001,Barry Bonds,SFG,36,153,476,664,156,73,93,13,1.379,0.536,0.537,12.5,4.1,235,-12.0,-5.0
1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,45,41,6,1.422,0.450,0.537,11.9,4.0,233,-4.4,2.2
3,1109,2003,Barry Bonds,SFG,38,130,390,550,133,45,58,7,1.278,0.408,0.503,10.2,3.9,212,5.6,11.6
78,1274,2002,Alex Rodriguez,TEX,26,162,624,725,187,57,122,9,1.015,0.324,0.424,10.0,4.0,158,19.6,12.5

In [11]:
train_data2.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,HR,SO,SB,OPS,ISO,wOBA,WAR,Spd,wRC+,Def,Fld
2,13611,2018,Mookie Betts,BOS,25,136,520,614,180,32,91,30,1.078,0.294,0.449,10.2,7.0,185,7.7,13.0
28,10155,2013,Mike Trout,LAA,21,157,589,716,190,27,136,33,0.988,0.234,0.423,10.1,6.8,176,0.5,1.6
63,10155,2012,Mike Trout,LAA,20,139,559,639,182,30,139,49,0.963,0.238,0.409,10.1,8.6,167,10.2,10.4
74,9166,2012,Buster Posey,SFG,25,148,530,610,178,24,96,1,0.957,0.213,0.406,9.8,2.0,164,32.8,26.6
5,10155,2018,Mike Trout,LAA,26,140,471,608,147,39,124,24,1.088,0.316,0.447,9.5,5.9,188,3.1,2.9

In [12]:
train_data3.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,HR,SO,SB,OPS,ISO,wOBA,WAR,Spd,wRC+,Def,Fld
30,1014396,1982,Robin Yount,MIL,26,156,635,704,210,29,63,14,0.957,0.247,0.415,9.8,6.9,164,16.2,8.0
136,1010978,1984,Cal Ripken,BAL,23,162,641,716,195,27,89,2,0.884,0.206,0.393,9.8,4.0,146,31.9,23.0
34,194,1985,Rickey Henderson,NYY,26,143,547,654,172,24,65,80,0.934,0.201,0.413,9.7,8.5,159,13.8,14.0
0,1001400,1980,George Brett,KCR,27,117,449,515,175,24,22,15,1.118,0.274,0.478,9.1,6.3,198,9.6,9.0
13,1011586,1980,Mike Schmidt,PHI,30,150,548,652,157,48,119,12,1.004,0.338,0.428,9.0,5.6,172,11.9,11.0

In [13]:
train_data4.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,HR,SO,SB,OPS,ISO,wOBA,WAR,Spd,wRC+,Def,Fld
176,1010978,1991,Cal Ripken,BAL,30,162,650,717,210,34,46,6,0.940,0.243,0.405,10.6,4.2,154,31.8,23.0
9,1109,1993,Barry Bonds,SFG,28,159,539,674,181,46,79,29,1.136,0.341,0.467,10.5,5.5,193,1.9,9.0
28,194,1990,Rickey Henderson,OAK,31,136,489,594,159,28,60,65,1.016,0.252,0.447,10.2,7.2,190,9.3,16.0
99,1109,1990,Barry Bonds,PIT,25,151,519,621,156,33,83,52,0.970,0.264,0.420,9.9,6.4,165,21.5,28.0
86,327,1996,Ken Griffey Jr.,SEA,26,140,545,638,165,49,104,16,1.020,0.325,0.423,9.7,5.6,146,33.5,32.0

In [14]:
all_train_data = pd.concat([train_data3, train_data4, train_data, train_data2], axis = 0).reset_index(drop = True)
all_train_data.shape

(16625, 20)

In [15]:
all_train_data.to_csv('./data/hitter_train_data.csv', index = False)

In [16]:
test_data = batting_stats(2021, 2024, qual = 100, stat_columns = selected_cols)
test_data.shape

(1848, 20)

In [17]:
test_data.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,HR,SO,SB,OPS,ISO,wOBA,WAR,Spd,wRC+,Def,Fld
0,15640,2024,Aaron Judge,NYY,32,158,559,704,180,58,171,10,1.159,0.379,0.476,11.2,3.9,218,-9.9,-6.4
2,15640,2022,Aaron Judge,NYY,30,157,570,696,177,62,175,16,1.111,0.375,0.458,11.1,4.0,206,-0.9,3.2
25,25764,2024,Bobby Witt Jr.,KCR,24,161,636,709,211,32,106,31,0.977,0.256,0.410,10.4,7.2,168,17.5,10.5
6,19755,2024,Shohei Ohtani,LAD,29,159,636,731,197,54,162,59,1.036,0.336,0.431,9.1,8.1,181,-17.2,NaN
7,18401,2023,Ronald Acuna Jr.,ATL,25,159,643,735,217,41,84,73,1.012,0.258,0.428,9.1,7.3,171,-7.5,-0.3

In [18]:
test_data.to_csv('./data/hitter_test_data.csv', index = False)